---

// Props Types
type Props = {
  title: string
  subtitle: string
}

// Astro Props
const { title, subtitle } = Astro.props

// Splitting the title for the Header
const sliceTitle = title.split(' ')
---

<div class="w-fit px-10">
  <h2>
    {sliceTitle[0]}{' '}
    <span class="text-muted-foreground">{sliceTitle[1]}</span>
  </h2>
  <p>
    {subtitle}
  </p>
</div>