---
import BaseHead from "@/components/BaseHead.astro";
import { useTranslations, type UiType } from "@/i18n/utils";
import I18NHeaders from "@/components/I18nHeaders.astro";
import Navigation from "@/components/Navigation.astro";

const { title, description, lang } =
  Astro.props;

const t = useTranslations(lang as UiType);
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead lang={lang} title={title} description={description} />
    <I18NHeaders />
  </head>
  <body class='bg-background text-foreground'>
    <Navigation />
    <main>
		<slot />
	</main>
  </body>
</html>